<!DOCTYPE html>
<html>
<head>
    <title><%= recipe.title %></title>
    <%- include('templates/header') %> 
</head>

<body>
    <h1><%= recipe.title %></h1>
    <img src="<%= recipe.image %>" alt="<%= recipe.title %>">

    <button type="button" id="saveButton-<%= recipe.id %>">
        <% if (recipe.isSaved) { %>Remove from Favorites
        <% } else { %>Save to Favorites<% } %>
    </button>
    
    <h2>Ingredients:</h2>
    <ul>
        <% recipe.extendedIngredients.forEach(ing => { %>
            <li><%= ing.original %></li>
        <% }); %>
    </ul>

    <!-- Add missing ingredients here -->
    <h2>Missing Ingredients</h2>
    <ul id="missingIngredientsList">
        <% missingIngredients.forEach(element => { %>
            <li data-id="<%= element.id %>" data-name="<%= element.name %>" data-amount="<%= element.amount %>">
                <%= element.name %>
            </li>
        <%});%>
    </ul>

    <h2>Instructions:</h2>
    <div><%- recipe.instructions %></div> 

    <%- include('templates/footer') %> 
    <script src="/recipeDisplay.js"></script> <!-- Ensure the correct path -->
    <script>
        document.getElementById('saveButton-<%= recipe.id %>').addEventListener('click', () => {
            toggleFavorite('<%= recipe.id %>');
        });
    </script>
    <script src="../addToShoppingList.js"></script>
</body>
</html>
