<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/landingPage.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <header id="header">
        <span class="search-button">
            <h2><%= recipe.title %></h2>
        </span>
        <button type="button" id="saveButton-<%= recipe.id %>">
            <% if (recipe.isSaved) { %>Remove from Favorites
                <% } else { %>Save to Favorites<% } %>
        </button>
    </header>
</head>

<body>
    <div class="difficulty-rating">
        <% for (let i=0; i < difficulty; i++) { %>
            <img src="/images/chefhat.png" alt="Chef Hat Icon" />
            <% } %>
    </div>
    <img src="<%= recipe.image %>" alt="<%= recipe.title %>">


    <h2>Ingredients:</h2>
    <ul>
        <% recipe.extendedIngredients.forEach(ing=> { %>
            <li>
                <%= ing.original %>
            </li>
            <% }); %>
    </ul>

    <h2>Missing Ingredients</h2>
    <ul id="missingIngredientsList">
        <% missingIngredients.forEach(element=> { %>
            <li data-id="<%= element.id %>" data-name="<%= element.name %>" data-amount="<%= element.amount %>"
                data-unit="<%= element.unit %>">
                <%= element.amount %>
                    <%= element.unit %>
                        <%= element.name %>
            </li>
            <%});%>
    </ul>

    <h2>Instructions:</h2>
    <div><%- recipe.instructions %></div>

    <%- include('templates/footer') %>
        <script src="/recipeDisplay.js"></script>
        <script>
            document.getElementById('saveButton-<%= recipe.id %>').addEventListener('click', () => {
                toggleFavorite('<%= recipe.id %>');
            });
        </script>
        <script src="../addToShoppingList.js"></script>
</body>

</html>